div.mapviewer {
  position: relative;
  width: 100%; 
  height: 500px;
}
div.gps_links {
  margin: 0 6px;
  min-height: 24px;
  font-family: helvetica, arial, sans;
  font-size: 14px;
  line-height: 1;
  background: transparent url(/images/useful/route.png) no-repeat top left;
}

div.gps_links a {
  display: block;
  float: right;
  padding-left: 24px;
  margin-left: 6px;
  height: 24px;
}

div.gps_links a.gpx {
  background: transparent url(/images/gps_icons/gpx.png) no-repeat top left;
}

div.gps_links a.google {
  background: transparent url(/images/gps_icons/google.png) no-repeat top left;
}

div.gps_links a.garmin {
  background: transparent url(/images/gps_icons/garmin.png) no-repeat top left;
}

div.gps_links a.mmap {
  background: transparent url(/images/gps_icons/mmap.png) no-repeat top left;
}

/* polylines in ie  */
v\:* {
  behavior:url(#default#VML);
}
