.asset
  - if @asset.image?
    = image_tag @asset.thumbnail(Radiant::Config['assets.display_size'].to_sym)
  - elsif @asset.gps?
    = slidemap_for(@asset)
  - elsif @asset.playable?
    = player_for(@asset)
  - else
    = link_to image_tag(@asset.thumbnail(:thumbnail)), @asset.asset.url